* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

body {
  height: 100vh;
  background: #152238;
}

h1 {
  font-size: 1.4rem;
}

.container {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-card {
  margin-bottom: 2rem;
}

.message-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.message-info h3 {
  font-size: 1rem;
  font-weight: 700;
}

.message-info p {
  font-size: 0.8rem;
  opacity: 0.8;
}

.message-card h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.8rem;
  padding-left: 4rem;
}

.separator {
  height: 2px;
  border: solid #ffffff25 0.5px;
  margin-top: 1rem;
}

.message-form {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #011f4b;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 0 100vmax #0000005e;
}

.message-form input,
textarea {
  background: none;
  border: none;
  outline: none;
  border: solid rgba(255, 255, 255, 0.637) 1px;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  resize: none;
  cursor: pointer;
  margin-top: 10px;
}

.message-form input[type="submit"] {
  	background: 	#005b96;
    border: none;
    transition: background 0.2s;
}

.message-form input[type="submit"]:hover {
  background: 	#077cca;
}

